<html>
<head>
    <title>Car List</title>
</head>
<body>
    <h1>You created a car!<h1>
        {% if cars is not empty %}
        {% for new_car in cars %}
    <p>{{ new_car.getMakeModel }}</p>
    <p>{{ new_car.getPrice }}</p>
    <p>{{ new_car.getMiles }}</p>
    <p><img src="{{ new_car.getImage }}"></p>
    {% endfor %}
    {% endif %}
    <p><a href='/search_result'>View cars</a></p>
</body>
</html>
