<html>
<head>
    <title>Car List</title>
</head>
<body>
    <h1>You created a car!<h1>
    <p>{{ new_car.getMakeModel }}</p>
    <p>{{ new_car.getPrice }}</p>
    <p>{{ new_car.getMiles }}</p>
    <p><a href='/'>View cars</a></p>
</body>
</html>
